<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate.unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <div class="navbar">
        <a href="@Url.Action("Index", "Home")">Blog System</a>
        <a>@Html.ActionLink("Posts", "Index", "Post")</a>
        <a onclick="toggleDarkMode()" id="icon-mode">
            <i class="fa fa-lightbulb-o"></i>
        </a>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)

    <script>
        function toggleDarkMode() {
            if (savedTheme) {
                if (savedTheme === 'dark-theme') {
                    applyTheme('light-theme');
                } else {
                    applyTheme('dark-theme');
                }
            }
        }

        function applyTheme(theme) {
            document.body.classList.remove('light-theme', 'dark-theme');
            document.body.classList.add(theme);

            localStorage.setItem('theme', theme);
        }

        function detectColorScheme() {
            const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)').matches;
            const theme = prefersDarkScheme ? 'dark-theme' : 'light-theme';
            applyTheme(theme);
        }

        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
            applyTheme(savedTheme);
        } else {
            detectColorScheme();
        }

        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
            const newColorScheme = e.matches ? 'dark-theme' : 'light-theme';
            applyTheme(newColorScheme);
            localStorage.setItem('theme', newColorScheme);
        });

    </script>
</body>
</html>
