<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate.unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="navbar">
        <a href="@Url.Action("Index", "Home")">Blog System</a>
        <a>@Html.ActionLink("Home", "Index", "Home")</a>
        <a>@Html.ActionLink("Posts", "Index", "Post")</a>
        <a href="#" onclick="toggleDarkMode()" id="icon-mode">
            <i class="fa fa-lightbulb-o"></i>
        </a>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)

    <script>

        function toggleDarkMode() {
            document.body.classList.toggle('dark-mode');
        }

    </script>

</body>
</html>
